@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Lobster&display=swap');



.App {
  text-align: center;
  
}

.navbarsticky{
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  opacity: 1;
  z-index: 1;
}
.shopping{
  display: flex;
  padding:2rem
}

.bigcart{
  background-image: url('https://media.istockphoto.com/photos/shopping-cart-seamless-pattern-on-pastel-pink-background-picture-id1265265291?k=20&m=1265265291&s=170667a&w=0&h=wzNIdHg6nqWFJ2wERO0K5oohQv6lMYG0ri36YuAqGzA=');
  width:400px;
  height:100%;
  margin: 2rem;

  border: 1px solid black;
  border-radius:20px;
display:flex;
flex-direction: column;
align-items: center;
align-content: stretch;
justify-content: flex-start;}

.cart{
  display: flex;
margin:5rem;
  padding: 2rem;
  flex-direction: column;
  align-items: center;
  align-content: stretch;
  justify-content: flex-start;
  width:350px;
  height:100%;
  border: 1px solid black;
  border-radius:20px;
  background: #8e9eab;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #eef2f3, #8e9eab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.product{     display: grid;
  grid-template-columns: 2fr 2fr 2fr ;
  margin: 1rem;
}
.product-title{ border: solid;
  background-color: white;
  border-color: #141E30;
  border-radius:2px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  padding: 1rem;
  margin: 1rem;
}

.middlepart{
  background: #ED213A;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #93291E, #ED213A);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #93291E, #ED213A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

padding:2rem;
color: aliceblue;
border-radius: 3px;
font-size:large;}

.gamme{font-family: 'Lobster', cursive;}
.footer{display: flex;
  flex-direction: row;
  align-content: space-between;
  justify-content: space-around;
  align-items: center;
  font-family: 'Comfortaa', cursive;
  color:white;
  padding: 1rem;
  background: #ED213A;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #93291E, #ED213A);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #93291E, #ED213A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  }


  .contact{
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url('https://besthqwallpapers.com/Uploads/17-10-2020/144068/thumb2-red-arrows-4k-black-metal-background-abstract-arrows-creative.jpg');
   -webkit-animation: backgroundScroll 20s linear infinite;
    animation: backgroundScroll 20s linear infinite;
    padding: 5rem;
    
    }
    
    @-webkit-keyframes backgroundScroll {
    from {background-position: 0 0;}
    to {background-position: -400px 0;}
    }
            
    @keyframes backgroundScroll {
    from {background-position: 0 0;}
    to {background-position: -400px 0;}
    }

    
.details{     display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2rem; padding-bottom: 2rem;
padding-left:10rem; padding-right:10rem;

background: #ED213A;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #93291E, #ED213A);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #93291E, #ED213A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.detailscard{  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2rem; padding-bottom: 2rem;
padding-left:2rem; padding-right:2rem;  
box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
background: #8e9eab;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #eef2f3, #8e9eab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


.filter {
  width: 50%;
  display: flex;
  padding: 2rem;
  margin: 0 auto;
}


.carousel.slide{height:400px; width:600px;}
.carousel-inner{height:400px;  width:600px;}
.carousel-item{height:400px;  width:600px;}
.carousel{
  display: flex;
  align-content: center;
  justify-content: space-around;
  align-items: center;}
